body {
  overflow: hidden;
  background-image: url(river.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

p {
  text-align: center;
  cursor: pointer;
}

.barco {
  display: inline-block;
  font-size: 12em;
}

#idaParaDireita {
    margin-top: 35vh;
    margin-left: -38vh;
    position: absolute;
}

#voltaPelaEsquerda {
  margin-left: 33vh;
  margin-top: 36vh;
  transform: rotate3d(0, 20, 0, -180deg);
}

.personagens {
  display: inline-block;
  font-size: 50px;
  cursor: pointer;
}

.column {
  float: left;
  width: 33.33%;
  height: 100vh;
  flex-flow: column wrap;
  align-items: stretch;
  align-content: stretch;

}

.reset-button {
  font-size: 4em;
}


.personagens:active {
  font-size: 2em;
}